[default]
src = 'contracts'
out = 'out'
libs = ['lib']
remappings = ['ds-test/=lib/ds-test/src/']
# solc_version = '0.5.17'

# See more config options https://github.com/gakonst/foundry/tree/master/config